In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\Prince\Desktop\DataRelated\healthcare_messy_data.csv")

In [3]:
df

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
1,emily davis,NaN,Male,Diabetes,NONE,"April 5, 2018",120/80,200.0,NaN,NaN
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
3,michael wilson,NaN,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,NaN,name@hospital.org,555-555-5555
4,david lee,NaN,Female,Asthma,NONE,2020/02/20,110/70,180.0,NaN,
...,...,...,...,...,...,...,...,...,...,...
995,mary clark,70,Other,Asthma,ALBUTEROL,03-25-2019,110/70,NaN,name@hospital.org,NaN
996,mary clark,forty,Other,NaN,LISINOPRIL,01/15/2020,NaN,160.0,NaN,123-456-7890
997,laura martinez,forty,Other,NaN,ALBUTEROL,2020/02/20,110/70,NaN,name@hospital.org,NaN
998,jane smith,25,Male,NaN,ALBUTEROL,"April 5, 2018",110/70,200.0,NaN,
999,james taylor,forty,Male,Diabetes,ATORVASTATIN,2020/02/20,120/80,220.0,NaN,123-456-7890

In [5]:
# Strip leading and trailing spaces from string columns 
for column in df.select_dtypes(include=['object']).columns: 
    df[column] = df[column].str.strip()

In [6]:
# Correct the Age column 
df['Age'] = df['Age'].replace('forty', 40)  # Replace 'forty' with 40
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')  # Convert to numeric, coercing errors to NaN

# Fill NaN values in the Age column before converting to int
df['Age'] = df['Age'].fillna(0).round(0).astype(int)  # Remove decimals and convert to int

In [13]:
# Correct the Blood Pressure column 
df['Blood Pressure'] = pd.to_numeric(df['Blood Pressure'], errors='coerce')
 
 # Correct the Cholesterol column 
df['Cholesterol'] = pd.to_numeric(df['Cholesterol'], errors='coerce')  # Convert to numeric, coercing errors to NaN

# Fill NaN values in the Cholesterol column before converting to int
df['Cholesterol'] = df['Cholesterol'].fillna(0).round(0).astype(int)  # Remove decimals and convert to int

In [15]:
# Standardise the Visit Date column 
df['Visit Date'] = pd.to_datetime(df['Visit Date'], errors='coerce')

In [16]:
# Fill NaN values with a default value or strategy 
df['Age'].fillna(df['Age'].mean(), inplace=True) 
df['Cholesterol'].fillna(df['Cholesterol'].mean(), inplace=True) 
 
 # Fill NaN values for categorical columns with a placeholder or most frequent value 
df['Gender'].fillna('Unknown', inplace=True) 
df['Condition'].fillna(df['Condition'].mode()[0], inplace=True) 
df['Medication'].fillna(df['Medication'].mode()[0], inplace=True) 
df['Blood Pressure'].fillna('120/80', inplace=True) 
df['Email'].fillna('no_email@example.com', inplace=True) 
df['Phone Number'].fillna('000-000-0000', inplace=True)

C:\Users\Prince\AppData\Local\Temp\ipykernel_13864\314134176.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '120/80' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Blood Pressure'].fillna('120/80', inplace=True)

In [18]:
# Save the cleaned data to a new CSV file 
df.to_csv('cleaned_healthcare_data.csv', index=False)

In [19]:
df

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,2020-01-15,120/80,200,name@hospital.org,555-555-5555
1,emily davis,0,Male,Diabetes,NONE,NaT,120/80,200,no_email@example.com,000-000-0000
2,laura martinez,35,Other,Asthma,METFORMIN,NaT,120/80,160,contact@domain.com,000-000-0000
3,michael wilson,0,Male,Diabetes,ALBUTEROL,2020-01-15,120/80,0,name@hospital.org,555-555-5555
4,david lee,0,Female,Asthma,NONE,NaT,120/80,180,no_email@example.com,
...,...,...,...,...,...,...,...,...,...,...
995,mary clark,70,Other,Asthma,ALBUTEROL,NaT,120/80,0,name@hospital.org,000-000-0000
996,mary clark,40,Other,Asthma,LISINOPRIL,2020-01-15,120/80,160,no_email@example.com,123-456-7890
997,laura martinez,40,Other,Asthma,ALBUTEROL,NaT,120/80,0,name@hospital.org,000-000-0000
998,jane smith,25,Male,Asthma,ALBUTEROL,NaT,120/80,200,no_email@example.com,
999,james taylor,40,Male,Diabetes,ATORVASTATIN,NaT,120/80,220,no_email@example.com,123-456-7890